# ===== Python cache =====
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Virtual environment =====
venv/
.env/

# ===== Jupyter Notebook =====
.ipynb_checkpoints/

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode/
.idea/

# ===== Model files =====
model/*.pkl
model/*.joblib

# ===== Logs =====
*.log

# ===== Data =====
# Bỏ comment dòng dưới nếu KHÔNG muốn đẩy dataset
# *.csv

# Cho phép riêng file spam.csv (nếu trên có ignore csv)
!data/spam.csv
